body {
    background-color: pink;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;  
}
.menu {
    list-style: none;
    padding: 20px 0px;
    margin: 0;
    position: relative; 
    text-align: center;   
}
  
.menu li {
    display: inline-block; 
    margin-right: 40px; 
}

.menu li a {
    text-decoration: none; 
    color: #F29191;
}

.menu li a:not(.logo) {
    padding: 5px 10px; 
    border: 1px solid #ffffff; 
    border-radius: 5px; 
    background-color: white;
}

.menu li a:not(.logo):hover {
    background-color: #F29191;
    color: white;
    border-color: #F29191;
} /*estilos a los elementos <a> dentro de <li> en un menú que NO tengan la clase .logo cuando se realiza un hover sobre ellos.*/

.logo img {
    border: none; 
    vertical-align: middle; 
    position: absolute; 
    left: 0; 
    top: 0; 
}


section {
    margin: 0;
    text-align: center; 
    padding: 0;
}

/*CONTENIDO */

.colabora{
    background-color: #ffffff;
    padding: 30px 0px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    color: #F29191;
}

.logo-protectora{
    border-radius: 100%;
    box-shadow: 0px 0px 10px #f29191;
    width: 280px;
    height: 250px;
    align-items: center;
    padding: 20px;
}

.info {
    margin-top: 20px;
}

.enlaces {
    margin-top: 40px;
}

.enlace-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 20px;
}

.boton-colabora {
    margin-top: 40px;
    background-color: #f2919146;
    margin: 10px 500px;
    padding-bottom: 10px;
    border-radius: 10%;
}
 
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f61;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
    
}

.boton:hover {
    background-color: #e24e43;
}

.seccion {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.compromiso{
    background-color: #F29191;
    color: #fff;
    padding-top: 1px;
}
.texto-seccion {
    flex: 1;
    padding-right: 20px;
    font-size: large;
    text-align: justify;
    padding-left: 12px;
}

.imagen-seccion {
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

.imagen-seccion img {
    width: 650px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.imagenes-bloque {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.imagenes-bloque img {
    width: 250px;
    height: auto;
    margin: 0 10px; 
}
.linea{
    border: none;
    height: 2px;
    background-color: #f2919170;
    margin: 40px 0; 
}

.colaboracion {
    background-color: #F29191;
    padding: 30px;
    border-radius: 10px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.colaboracion h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: xx-large;
}

.colaboracion-content {
    display: block;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.colaboracion-texto {
    text-align: justify;
    margin-bottom: 20px;
    padding: 0px 40px;
    color: #ffffff;
}

.carousel-container {
    width: 40%; /* ancho imagen */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.carousel-slide {
    display: none;
}

.carousel-slide img {
    display: block;
    width: 100%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}

 /*PIE DE PAGINA */
 footer {
    background-color: #F29191;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    color: #fff; 
}

.logof img {
    width: 280px;
    margin-right: 20px; 
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.603);
    margin-left: 30px;
}

.columna {
    flex: 1; 
    padding: 0 20px; 
    text-align: center;
   
}
.horario{
    border: 2px rgba(255, 255, 255, 0.425) solid;
}

.columna h3 {
    margin-bottom: 10px; 
}

.columna ul {
    list-style: none;
    padding: 0;
}

.columna ul li {
    margin-bottom: 10px;
}

.columna ul li a {
    color: #fff; 
    text-decoration: none;
}

.redes-sociales img {
    margin-top: 10px;
}
.enlaces-rapidos ul li a:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24); 
    
}

/* Estilos para dispositivos con ancho máximo de 480px */
@media screen and (max-width: 480px) {
    /* Estilos para el menú de navegación */
    .menu {
        flex-direction: column;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .columna {
        padding: 10px 0;
    }
}

/* Estilos para dispositivos con ancho máximo de 768px */
@media only screen and (max-width: 768px) {
    /* Estilos para el footer */
    footer {
        flex-direction: column;
    }

    .columna {
        padding: 10px;
    }

    .redes-sociales img {
        margin-top: 10px;
    }

    /* Estilos para el menú de navegación */
    .menu {
        flex-direction: column;
    }

    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .menu li a:not(.logo) {
        padding: 5px;
    }

    .logo img {
        position: relative;
    }

    .colabora {
        padding: 20px;
    }

    .logo-protectora {
        width: 200px;
        height: 180px;
    }

    .imagen-seccion img {
        width: 100%;
        height: auto;
    }

    .imagenes-bloque {
        display: flex; /* ontenedor como un flexbox */
        flex-wrap: wrap;/* elementos se bajen si no caben en una sola línea */
        justify-content: center;
    }

    .imagenes-bloque img {
        max-width: 100%; 
        height: auto; 
        margin: 0 5px;
    }

    .carousel-container {
        width: 100%;
    }

    .carousel-slide img {
        width: 100%;
    }

    .boton-colabora {
        margin: 10px auto;
    }

    .logof img {
        width: 200px;
        margin-right: 0;
        margin-left: 0;
    }
}




