body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #f29191;
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

a {
    background-color: #f29191;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #d81b60;
}

.motivational-message {
    margin-top: 50px;
    border: 2px solid #f29191;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.479);
}

.motivational-message img {
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.motivational-message p {
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.5;
}
