body {
    background-color: pink;
    margin: 0;
    padding: 0;
    font-family: 'Pacifico', cursive;
    
}
.menu {
    list-style: none;
    padding: 20px 0px;
    margin: 0;
    position: relative; 
    text-align: center;   
}

.menu li {
    display: inline-block; 
    margin-right: 40px; 
}

.menu li a {
    text-decoration: none; 
    color: #F29191;
}

.menu li a:not(.logo) {
    padding: 5px 10px; 
    border: 1px solid #ffffff; 
    border-radius: 5px; 
    background-color: white;
}

.menu li a:not(.logo):hover {
    background-color: #F29191;
    color: white;
    border-color: #F29191;
} /*estilos a los elementos <a> dentro de <li> en un menú que NO tengan la clase .logo cuando se realiza un hover sobre ellos.*/

.logo img {
    border: none; 
    vertical-align: middle; 
    position: absolute; 
    left: 0; 
    top: 0; 
}


section {
    margin: 0;
    text-align: center; 
    padding: 0;
}

/*CONTENIDO */
.contacto{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.texto {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.formulario {
    flex: 1;
    padding: 20px;
    border-left: 2px solid #ccc;
}

h1 {
    margin-top: 20px;
}

form {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f291918a;
    box-shadow: 0px 0px 10px #f29191;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"],
button[type="reset"] {
    background-color: #F29191;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #ffffff;
    color: #F29191;
}

button[type="reset"]:hover {
    background-color: #ffffff;
    color: #F29191;
}

.imagen{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #f29191; 
}

.contacto-info{
    background-color: #F29191;
    color: white;
    box-shadow: 0px 0px 10px #f29191;
    padding: 10px 0px;
}



 /*PIE DE PAGINA */
 footer {
    background-color: #F29191;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    color: #fff; 
}

.logof img {
    width: 280px;
    margin-right: 20px; 
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.603);
    margin-left: 30px;
}

.columna {
    flex: 1; 
    padding: 0 20px; 
    text-align: center;
   
}
.horario{
    border: 2px rgba(255, 255, 255, 0.425) solid;
}

.columna h3 {
    margin-bottom: 10px; 
}

.columna ul {
    list-style: none;
    padding: 0;
}

.columna ul li {
    margin-bottom: 10px;
}

.columna ul li a {
    color: #fff; 
    text-decoration: none;
}

.redes-sociales img {
    margin-top: 10px;
}
.enlaces-rapidos ul li a:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24); 
    
}




